# Ignore Secrets
*.env

# Ignore python artifacts
.python-version
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Ignore project-specific build artifacts
.venv/
.data/
.scripts/generated

# Ignore coding agents
CLAUDE.md
.claude/
.nelson/