# Ignore OS-specific
.DS_Store

# Ignore Secrets
*.env
*.env.local

# Ignore python artifacts
.python-version
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Ignore svelta artifacts
.vscode
node_modules/

# Ignore project-specific build artifacts
.venv/
.data/
.generated/

# Ignore coding agents
CLAUDE.md
.claude/
